/* General adjustments */
@import url('https://fonts.googleapis.com/css?family=Gulzar');

@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --navy: #080D18;
    --skyblue: #172744;
    --blue: #74B5FF;
    --lightblue: #DFF6FF;
    font-family: 'Gulzar';
    line-height: 4rem;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    background-color: var(--navy, navy);
}

.container {
    display: flex;
    flex-direction: row;
}


/* Left div */

.left {
    width: 50rem;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Right div */

.right {
    width: 100rem;
    background-color: var(--lightblue, lightblue);
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

label {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: -12px;
    font-family: 'Inter';
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

button {
    width: 100%;
    height: 3rem;
    background-color: var(--skyblue);
    border: 0;
    outline: 0;
    color: white;
}

input:focus {
    background-color: var(--blue);
}

input {
    height: 3rem;
    padding-left: 0.45rem;
    width: 37.5rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: var(--blue);
}